.AppLogo {
    text-align: center;
}

.AppLogo-logo {
    /*height: 40vmin;*/
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo-logo {
        /*animation: AppLogo-logo-spin infinite 20s linear;*/
    }
}

.AppLogo-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.AppLogo-link {
    color: #61dafb;
}

@keyframes AppLogo-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
